/*police*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* page pour divers ecran */
#bloc_page {
  margin: auto;
}
@media all and (max-width: 600px) {
  /* vue mobile*/
  #bloc_page {
    width: auto;
  }
}
body {
  font-family: "Raleway", Arial, "sans-sherif";
  color: black;
}

/*---------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------          ----------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------     ---------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* footer*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 33px;
  background-color: #f2f2f2;
  font-size: 12px;
  padding-top: 10px;
}

#assistance {
  margin-right: 30%;
}

.footer_style a {
  text-decoration: none;
  color: black;
}
.footer_style strong {
  font-weight: bold;
}
/*responsive pour les mobiles*/
@media all and (max-width: 600px) {
  footer {
    display: block;
    padding-left: 30px;
  }
}
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
header {
  padding-left: 3%;
}
#logo {
  margin-right: auto;
}
#logo img {
  margin-top: 10px;
  height: 30px;
}

#navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}
#navigation p a {
  text-decoration: none;
  color: black;
  font-size: 10px;
}
#navigation p :hover {
  border-top: #0065fc solid 2px;
  color: #0065fc;
  padding-top: 15px;
  align-items: center;
}
.mini {
  font-size: 10px;
}
#inscription a {
  text-decoration: none;
  font-weight: bold;
  color: #0065fc;
}
#inscription {
  padding-top: 22px;
  padding-right: 2%;
  font-size: 10px;
}

/*recherche - loupe - style zone rechercher*/
.couleur_map {
  border: #f2f2f2 solid 2px;
  border-radius: 7px 0px 0px 7px;
  align-self: center;
  padding: 4px;
  align-items: center;
  font-size: 10px;
  background-color: #f2f2f2;
}
.couleur_rechercher {
  border: #0065fc solid 2px;
  border-radius: 0px 7px 7px 0px;
  align-self: center;
  padding: 4px;
  align-items: center;
  font-size: 10px;
  background-color: #0065fc;
  margin-left: -8px;
  color: white;
}
.couleur_rechercher a {
  text-decoration: none;
  color: white;
  align-items: center;
}
/* zone recherche*/
.formulaire_recherche input {
  border: #f2f2f2 solid 2px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 10px;
}
.border_recherche {
  display: flex;
  margin-bottom: 9px;
  font-size: 10px;
}

.loupe {
  display: none;
}
#entete {
  display: flex;
  justify-content: flex-end;
}
@media all and (max-width: 600px) {
  /* vue mobile*/
  .trouver {
    align-self: center;
    padding: 4px;
    padding-top: 20px;
    align-items: center;
  }
  header {
    padding-left: 0;
  }
  .couleur_map {
    padding: 6px;
  }

  .formulaire_recherche input {
    padding-top: 5px;
    padding-bottom: 8px;
  }
  .border_recherche {
    margin-bottom: 15px;
  }
  .border_recherche {
    display: none;
  }
  .couleur_rechercher {
    padding: 6px;
    border-radius: 7px 7px 7px 7px;
  }
  .loupe {
    display: flex;
    align-self: center;
    padding: 4px;
    align-items: center;
  }
  #navigation {
    grid-column-gap: 0;
    grid-template-columns: 1fr 1fr;
    border-bottom: #deebff solid 2px;
    grid-column: 1 / span2;
  }
  #navigation p {
    width: 100%;
    height: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #navigation p a:hover {
    border-top: none;
  }
  #navigation p:hover {
    border-bottom: #0065fc solid 2px;
  }
  #logo {
    padding-left: 3%;
  }

  #inscription {
    grid-row: 1;
    grid-column-start: 2;
    justify-self: end; /* inscription a droite - mot seul*/
    padding-right: 3%;
  }
  #entete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
/* mise en page et style du filtre */
.filtres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
}
.monfiltre {
  margin-right: 1%;
  margin-bottom: 5px;
}
.filtres a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}
.filtres a:hover {
  color: #0065fc;
}
/* style bordure filtre*/
.filtre_elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border: #f2f2f2 solid 2px;
  border-radius: 20px 20px 20px 20px;
  margin-right: 10px;

  padding-right: 20px;
  margin-bottom: 5px;
}
.filtre_elements .fa {
  font-size: 13px;
  margin-left: -7px;
  margin-bottom: -1px;
  margin-top: -1px;
}

/* Couleur de l'icon */
.blue_icon {
  color: #0065fc;
}
.white_icon {
  color: #f2f2f2;
}
/* couleur du cercle */
.lightblue_icon {
  color: #deebff;
}
.filtre_elements2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 10px;
  margin-left: -5px;
  margin-right: 10px;
  padding-right: 20px;
}
.filtres_responsive {
  display: flex;
  flex-wrap: wrap;
}

/*---------------------------------------------------------------------------------------------------------*/
/*----------------------------------          -------------------------------------------------------------*/
/*----------------------------------  ---------------------------------------------------------------------*/
/*----------------------------------          ------------------------------------------------------------*/
/*------------------------------------------  -------------------------------------------------------------*/
/*----------------------------------          -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*section hebergements*/
#hebergements {
  background-color: #f2f2f2;
  border-radius: 20px;
  display: grid;
  font-size: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10px 2fr 2fr;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  grid-column-gap: 33px;
  grid-row-gap: 33px;
  margin-left: 50px;
  background-size: cover;
}
.hotel_hebergements p {
  font-size: 12px;
}
/* surgras */
#hebergements h3,
#populaires h3,
#activites h3,
.trouver strong,
.filtres,
p strong,
strong {
  font-family: "Raleway";
  font-weight: 800;
  grid-column: 1 / span 3;
}
#hebergements a {
  text-decoration: none;
  color: black;
}
#hebergements p {
  margin-left: 5px;
  padding-left: 2px;
  margin-top: 0px;
}
.card {
  border: white solid 3px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  display: grid;
  grid-template-rows: 2fr;
  box-shadow: 3px 5px 5px #e2e2e2;
}
.card a {
  text-decoration: none;
  color: black;
}
@media all and (max-width: 1024px) {
  /* vue tablette*/
  #hebergements {
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
  }
}
@media all and (max-width: 600px) {
  /* vue mobile*/

  #hebergements h3 {
    margin-left: 8px;
  }
  .card {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  #hebergements {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    order: 2;
    background-color: white;
  }
}
.hotel_hebergements p {
  padding-top: 5px;
  margin-bottom: 0;
}
#hebergements .card {
  font-size: 10px;
  grid-template-rows: 1fr;
  background-size: cover;
}

/* mise en page photo hebergements*/
.photo_cannebiere {
  background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 100px;
  background-position: center;
}
.photo_hotel_port {
  background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 100px;
  background-position: center;
}
.photo_mouettes {
  background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 100px;
  background-position: center;
}
.photo_mer {
  background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 100px;
  background-position: center;
}
.photo_panier {
  background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  background-position: center;
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 100px;
}
.photo_amina {
  background-position: center;
  background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 100px;
}

/*section populaires*/

#populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10px 2fr 2fr 2fr;
  grid-column-gap: 33px;
  grid-row-gap: 33px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 8%;
  padding-bottom: 60px;
  font-size: 12px;
}
.hotel_populaires p {
  margin-top: 5px;
  margin-bottom: 0;
}
@media all and (max-width: 700px) {
  #populaires p {
    font-size: 12px;
  }
}

@media all and (max-width: 1024px) {
  /* vue tablette*/
  #populaires {
    display: grid;
    grid-template-rows: 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 0;
    padding-left: 3%;
    padding-right: 3%;
    grid-column-gap: 30px;
    border-radius: 0;
    padding-bottom: 20px;
  }
  .titre_populaire {
    grid-column: 1 / span 3;
  }
}

@media all and (max-width: 600px) {
  /* vue mobile*/
  #populaires h3 {
    margin-left: 8px;
  }
  #populaires {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 0;
    border-radius: 0;
  }
}
p strong {
  font-weight: bold;
}
#populaires .titre_populaire {
  display: flex;
  justify-content: space-between;
}
p a {
  /*afficher plus*/
  text-decoration: none;
  color: black;
}

.page_populaires {
  display: grid;
  grid-template-columns: 70px 10em;
  grid-template-rows: 90px 2fr;
  grid-column-gap: 10px;
  border-radius: 20px 20px 20px 20px;
}
.hotel_populaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (max-width: 600px) {
  /* vue mobile*/

  #populaires p {
    margin-left: 5px;
  }
  #populaires .titre_populaire {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
  }
}
@media all and (max-width: 1024px) {
  /* vue tablette*/
  .page_populaires {
    grid-template-columns: 70px 10em;
  }
}
/* vue mobile*/
/* mise en page photo populaires*/
.photo_soleil_matin {
  background-position: center;
  background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 0px 0px 10px;
  height: 90px;
}
.photo_coeur_eau {
  background-position: center;
  background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 0px 0px 10px;
  height: 90px;
}
.photo_bleu {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 0px 0px 10px;
  background-position: center;
  height: 90px;
}

/* section activité*/

#activites {
  border-radius: 20px;
  display: grid;
  font-size: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15px 2fr 2fr 2fr 2fr 2fr 2fr;
  padding-left: 3%;
  padding-right: 3%;
  grid-column-gap: 3%;
  grid-row-gap: 30px;
  padding-bottom: 50px;
  padding-top: 10px;
}
#activites a {
  text-decoration: none;
  color: black;
}
@media all and (max-width: 600px) {
  /* vue mobile*/
  #activites h3 {
    margin-left: 8px;
  }
  #activites {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 0;
    order: 3;
  }
}

#activites p {
  font-weight: bold;
  margin-left: 5px;
}
/* mise en page photos activités*/
.photo_vieux_port {
  background-image: url("./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");

  background-size: cover; /* taille du backgrounf couvre tout*/
  border-radius: 10px 10px 0px 0px;
  background-position: center;
}
.photo_pomegues {
  background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");

  background-size: cover; /* taille du backgrounf couvre tout*/
  border-radius: 10px 10px 0px 0px;
  background-position: center;
}
.photo_frioul {
  background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover; /* taille du backgrounf couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 70px;
  background-position: center;
}
.photo_calanques {
  background-image: url("./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");

  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  background-position: center;
}
.photo_lagarde {
  background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");

  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  background-position: center;
}
.photo_longchamp {
  background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");

  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  background-position: center;
}

#activites h3 {
  grid-column: 1 / span 4;
}

/* mise ne page de section*/
.premiere {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 15px;
}
@media all and (max-width: 1024px) {
  /* vue tablette*/
  .premiere {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 600px) {
  /* vue mobile*/
  .premiere {
    display: flex;
    flex-direction: column;
  }
  .photo_vieux_port,
  .photo_pomegues,
  .photo_frioul,
  .photo_calanques,
  .photo_lagarde,
  .photo_longchamp {
    height: 90px;
  }
}

.grey_icon {
  color: #f2f2f2;
}

.grandport {
  grid-row: span 6;
  grid-column-start: 1;
  border-radius: 20px 20px 20px 20px;
}
.grandparc {
  grid-row: 2 / span 6;
  grid-column-start: 3;
  border-radius: 20px 20px 20px 20px;
}
.grand_pomegues {
  grid-row: 2 / span 4;
  grid-column-start: 2;
}
.grand_lagarde {
  grid-row: 2 / span 3;
  grid-column-start: 4;
}
.grand_longchamp {
  grid-row: 5 / span 3;
  grid-column-start: 4;
}
.grand_frioul {
  grid-row: 6 / span 2;
  grid-column-start: 2;
}

.grandport .card,
.grandparc .card,
.grand_pomegues .card,
.grand_lagarde .card,
.grand_frioul .card,
.grand_longchamp .card {
  height: 100%;
  border: none;
}
